input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.vector-adder {
  margin-top: 10rem;
  margin-left: 10rem;
  margin-right: 10rem;
  width: auto;
}

.vector-container {
  margin: 1.5rem 0;
}

.vector-container span {
  margin-right: 0.75rem;
}

.vector-container .stat-container {
  margin-right: 1.25rem;
}

.magnitude input {
  width: 4rem;
}

.unit input {
  width: 2.5rem;
}

.direction input {
  width: 4rem;
}

.vector-adder .adder-button {
  display: block;
}

.vector-adder button {
  border: none;
  background: #e7e7e7;
  text-align: left;
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  .stat-container {
    display: block;
  }
}
